<ion-header-bar class="expanded">
	<img src="img/logo.png" class="avatar motion spin fade">
	<a class="menu-bottom ion-home" href="#/tab/warning" style="text-decoration:none;">
		VNDSS
	</a>
</ion-header-bar>
<ion-content class="stable-bg has-expanded-header">
	<ion-list>
		<ion-item nav-clear menu-close href="#/apphome/list_warning_rain">
			Cảnh báo mưa
		</ion-item>
		<ion-item nav-clear menu-close href="#/apphome/list_warning_flow">
			Cảnh báo mực nước hồ
		</ion-item>
		<ion-item nav-clear menu-close href="#/apphome/list_warning_wave">
			Cảnh báo mực nước sông
		</ion-item>
		<ion-item nav-clear menu-close href="#/apphome/list_forecast_rain">
			Dự báo mưa
		</ion-item>
		<ion-item nav-clear menu-close href="#/apphome/list_forecast_flow">
			Dự báo dòng chảy đến hồ
		</ion-item>
		<ion-item nav-clear menu-close href="#/apphome/camera">
			Camera
		</ion-item>
		<ion-item nav-clear menu-close href="#">
			Thiết lập
		</ion-item>
		<ion-item nav-clear menu-close href="#/applogin/login">
			Đăng xuất
		</ion-item>
	</ion-list>
</ion-content>