<link href="css/style_manhdv.css" rel="stylesheet">
<ion-header-bar class="warning_rain bar-positive">
	<div ng-include="'templates/vndss.header_detail.html'"></div>
</div>
</ion-header-bar>

<ion-content class="warning_rain_ct">

<div class="list list-detail-vndss">
     <a class="item item-thumbnail-left" href="#">
	  
      <img ng-if="data.GeomId!=null" style="background-color:{{data.MauCanhBao}}" src="img/have-map.png" ng-click="_fun._goMap('Cảnh báo mực nước hồ', 'ThuyHe', '{{data.GeomId}}')">
	 
	  <img ng-if="data.GeomId==null" style="background-color:{{data.MauCanhBao}};" src="img/no-map.png" >
	 
	 
		  <h2>{{data.LakeName}}</h2>
		  <span>Q.đến: {{data.TongLuuLuongDen| number : 2}} m<sup>3</sup>/s</span>
		  <p>MN dâng bình thường: {{data.MucNuocDangBinhThuong| number : 2}} m</p>
		  <p>MN dâng gia cường: {{data.MucNuocDangGiaCuong| number : 2}} m</p>
		  <p>MN chết: {{data.MucNuocChet| number : 2}} m</p>
		  <p> {{data.SoSanh1}} </p>
		  <p> {{data.SoSanh2}} </p>
	 
    </a>
</div>
<!-- Biểu đồ -->

	<div class="card">
		<div class="item item-divider">
			Biểu đồ diễn biến mực nước hồ
		</div>
		<ion-scroll zooming="true" direction="x" style="width: 94%; margin-left: 3px; margin-right:3px; height: 100%" scrollbar-x="false">
			<div style="width: 600px; "  class="item item-text-wrap" >
				<canvas id="line"  class="chart chart-line" chart-data="datavalue" chart-labels="labels" chart-legend="true" chart-series="series" chart-options="{ scaleShowHorizontalLines: false,scaleShowVerticalLines: false,tooltipTemplate: '<%= value %> ',responsive: true,datasetFill : false} "></canvas>
			</div>
		</ion-scroll>
	</div>
	<div ng-show="CanhBaoMucNuocHo.qden.length!=0" class="card">
			<div class="item item-divider">
				Biểu đồ dòng chảy đến hồ
			</div>
			<ion-scroll zooming="true" direction="x" style="width: 94%; margin-left: 3px; margin-right:3px; height: 100%" scrollbar-x="false">
				<div style="width: 600px;"  class="item item-text-wrap" >
					<canvas id="line"  class="chart chart-line" chart-data="datavalueflow" chart-labels="labelsflow" chart-legend="true" chart-series="seriesflow" chart-options="{ scaleShowHorizontalLines: false,scaleShowVerticalLines: false,tooltipTemplate: '<%= value %> ',responsive: true} "></canvas>
				</div>
			</ion-scroll>
		</div>
	<!-- Bảng dữ liệu -->
	<div class="table" style="width: 100%;padding:5px;">
		
			<div >
				<ion-scroll zooming="true"  style="width:100%;  height: 100%" scrollbar-x="false">
					<div style="width: 400px; padding: 0px" class="row header">
						 <div class="col col-10">STT</div>
				  <div class="col col-30">Thời gian</div>
				  <div class="col col-30">Mực nước hồ (m)</div>
				   <div class="col col-20">Dòng chảy đến hồ (m <sup>3</sup>/s)</div>          
					</div>
					<ion-scroll zooming="true" direction="y" style="width: 600px; height: 200px; margin-top: 0px; paddning-top: 0px" scrollbar-y="false" scrollbar-x="false"> 
						<div style="width: 400px; padding: 0px" class="row"  ng-repeat="(index,data1) in data.MucNuocHoCanhBao ">
							<div class="col col-10" style="text-align: center">{{index + 1}}</div>
							<div class="col col-30">{{data1.datatime }}</div>
							<div class="col col-30">{{data1.mucnuocho|  number : 2 }}</div>
							<div class="col col-20">{{data1.qden|  number : 2 }}</div>  
						</div>
					</ion-scroll>
					
				</ion-scroll>
			</div>
	</div>

</ion-content>