.ionic-logo {
  margin:100px auto;
  position:relative;
  width:87px;
  height:87px;
  border:2px solid #5E86C4;
  border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  -moz-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
}

.ionic-logo:after {
  content:'';
  position:absolute;
  width:38px;
  height:38px;
  background: #5E86C4;
  top:50%;
  left:50%;
  margin-left:-19px;
  margin-top:-19px;
  border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

.ionic-logo:before {
  content:'';
  background: #5E86C4;
  width:14px;
  height:14px;
  position:absolute;
  top:-7px;
  left:50%;
  margin-left:-7px;
  border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}
.line-legend li
{
	display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: smaller;
    cursor: default;
    width: 201px;
}
.bar-legend
{
	    list-style-type: none;
    margin-top: 5px;
    text-align: center;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-left: 0;
    margin-bottom: 15px;
}